extends layout

block content
	.container
		.row
			.col-md-6
				h1 Datos de cliente
				p 
					strong Nombre: 
					span #{customer.name}
				p 
					strong Apellido: 
					span #{customer.lastname}
				p 
					strong Apellido Materno: 
					span #{customer.motherlastname}
				p 
					strong Email: 
					span #{customer.email}
				p 
					strong Telefono local:
					span  #{customer.localphone}
				p 
					strong Telefono Movil: 
					span #{customer.mobilephone}
				p 
					strong Fecha de nacimiento: 
					span(id='birthday') #{customer.birthday}
			.col-md-6
				h2 Dirección
				p
					strong Calle y Numero: 
					span #{address.street}
				p
					strong Delegacion/Municipio: 
					span #{address.delegation}
				p
					strong Ciudad: 
					span #{address.city}
				p
					strong Colonia: 
					span #{address.colony}
				p
					strong Estado: 
					span #{address.state}
				p
					strong Pais: 
					span #{address.country.name}
				p
					strong Codigo Postal: 
					span #{address.postalcode}
			.col-md-12
				h2 Facturación
				p
					strong Nombre/Razon Social: 
					span #{invoice.reasonname}
				p
					strong RFC: 
					span #{invoice.rfc}
				p
					strong Calle y Numero: 
					span #{invoice.street}
				p
					strong Delegacion/Municipio: 
					span #{invoice.delegation}
				p
					strong Ciudad: 
					span #{invoice.city}
				p
					strong Colonia: 
					span #{invoice.colony}
				p
					strong Estado: 
					span #{invoice.state}
				p
					strong Pais: 
					span #{invoice.country.name}
				p
					strong Codigo Postal: 
					span #{invoice.postalcode}
